<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/238756181.jpg" alt="" />

      <div class="container">
        <div class="carousel-caption">
          <h1>Luxury With Elegance.</h1>
          <p>
            Elegant and luxurious 4 bedroom all ensuite massionate with a heated
            pool and well manicured garden. Olive Grove Villa is your ideal
            place for pure luxury living.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/LG-2.jpg" alt="" />

      <div class="container">
        <div class="carousel-caption">
          <h1>Lifestyle Gardens.</h1>
          <p>
            Lifestyle Gardens is a controlled and secure gated community
            comprising of 70 Four bedroom Masionettes (ALL Ensuite, master with
            a balcony and a Detached Servant Quarter)
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/LG-2.jpg" alt="" />
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>
            Some representative placeholder content for the third slide of this
            carousel.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
