<header class="p-3">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="logo d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        Real Estate
      </a>

      <ul
        class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="{% url 'index' %}" class="nav-link px-2 text-secondary"
            >Home</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        <li>
          <a href="{% url 'listings' %}" class="nav-link px-2 text-white"
            >Listings</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-white">Contacts</a></li>
      </ul>

      {% if request.user.is_staff %}
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Logout</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
      {% endif %} <br />
    </div>
  </div>
</header>
